.search-bar {
    margin: 15px 15% 30px 15%;
}

.search-bar input{
    width: 100%;
    left: 50%;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}